body {
    padding-top: 50px;

}
.mainText {
    padding: 40px 15px;
    text-align: center;
}
.forceSize{
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.forceCenter{
    text-align: center;
}

/* navbar */
.navbar-default {
    background-color: #062854;
    border-color: #ffffff;
}
/* Title */
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}